[2015-04-15 21:00] funkybunky opened #1 "Does it work with the new template-level subscriptions?"
this question is related to this thread on the forums: https://forums.meteor.com/t/template-subscribe-and-subsmanager/2003

[2015-04-15 21:40] ccorcos commented on #1
yeah, just wrap it in an autorun

[code]

[2015-04-15 23:07] funkybunky commented on #1
Thank you very much!
And thank you for the package itself!

[2015-04-15 23:07] #1 closed

[2015-05-22 17:55] joaopiopedreira opened #2 "Use in mobile apps, with throteling network"
Hi @ccorcos, I'm thinking of using your package in a mobile app (meteor-cordova app), already in pre-production.

I had 2 main problems to solve in this app:
- Treat static, potentially big collections outside of meteor livedata package (no pub/sub): got this with the [DumbCollections](https://github.com/richsilv/meteor-dumb-collections) package;
- Try to reuse subscriptions between offline/online

[2015-05-22 23:14] ccorcos commented on #2
Hmm this package does something slightly different than what you're looking for. I'm not sure it's possible though. Here's why.

Merge box keeps track of all subscriptions and all the data on the client so it can send a minimal amount of data to the client. When the connection terminates, the server forgets all the pub/sub information.

You could save the data in local storage but I don't know how

[2015-06-22 07:00] satyavh opened #3 "Doesn't seem to work for subscription params?"
Hi, great package. But it seems it can't handle subscription params? Because when I do something like this:

`SubsCache.subscribe 'singlePost', id`

it will return the same subscription from cache even when `id` changes.

[2015-06-22 07:22] ccorcos commented on #3
hmm. that shouldn't be an issue. I'm using the params as a key.

https://github.com/ccorcos/meteor-subs-cache/blob/master/src/subsCache.coffee#L54

[2015-06-23 09:33] maxnowack opened #4 "Error: Can't set timers inside simulations"
Callstack:
[code]

[2015-06-23 10:10] ccorcos commented on #4
Can I get some context? "inside simulation" makes me think something is happening in a Meteor.method...

[2015-06-23 10:15] maxnowack commented on #4
I start the subscription in a `Template.onCreated()` (inside `this.autorun()`) function, to get cached template level subscriptions. If the data for the template instance get removed, the template will be destroyed. The error occurs on destroying the template

[2015-06-23 11:12] ccorcos commented on #4
https://github.com/meteor/meteor/blob/release/METEOR%401.1.0.2-diagnose-netstat-error-2/packages/meteor/timers.js#L4

https://github.com/meteor/meteor/blob/release/METEOR%401.1.0.2-diagnose-netstat-error-2/packages/ddp/livedata_common.js#L170

https://github.com/meteor/meteor/blob/release/METEOR%401.1.0.2-diagnose-netstat-error-2/packages/meteor/dynamics_browser.js#L6

I tried chasing it around. G

[2015-06-23 11:44] maxnowack commented on #4
Here's a MeteorPad: http://meteorpad.com/pad/MwuA7rasNrd2SGpxN/Leaderboard
I hope it's okay for you that I used coffeescript.

The error occurs if you click the "x" to remove a player

[2015-06-25 04:46] ccorcos commented on #4
Hmm. I've never used Template.currentData() but I think thats the issue.

This works:

http://meteorpad.com/pad/FvHmens47jwYLrgrN/Copy%20of%20ccorcos:subs-cache#4

[2015-06-26 13:39] satyavh opened #5 "@ready() is not a function"
I'm getting these errors and have no idea why.

[code]

So I've been loggin this out, and in some cases @ doesn't refer to a subscription, but to something else. It could be related to Iron Router onWait, because I"m waiting for subscriptions like this:

[code]

so this works when
- I navigate from another route, but when loading this route directly I get this @ready() is not a function error.
- I

[2015-06-26 14:02] satyavh opened #6 "subscriptionId params are always passed"
this
`SubsCache.subscribe 'posts'`

gets passed to the publication like this:
`{ subscriptionId: '4FHxbDWHRdFufDi2e' }`

my publication handles different params
`Meteor.reactivePublish "posts", (orgId, limit, starredOnly, collectionId) -> ...`

but in this case I don't set any params for the subscription. Yet, subsCache adds params which are being passed.
`orgId { subscriptionId: '4FHxbDWHRdFufDi2

[2015-06-26 14:52] BudgieInWA opened #7 "onReady callback isn't called when subscription is already active"
When providing an onReady callback to `Meteor.subscribe`, it will always be called, even if an identical subscription is already active. `subsCache.subscribe` does not behave in this way; if a subscription with the same arguments already exists, the callback is ignored.

For example

[code]

[2015-06-26 18:34] satyavh commented on #5
FYI,  I've changed to `meteorhacks:subs-manager` with exactly the same code and now it all works fine.

[2015-06-26 19:57] ccorcos commented on #7
OK. I think that's reasonable. We can fix this with one line of code. Simple call onReady right here:

https://github.com/ccorcos/meteor-subs-cache/blob/master/src/subsCache.coffee#L92

You want to implement it, see if it works, and submit a PR?

[2015-06-26 20:00] ccorcos commented on #5
Hmm. You're talking about right here:

https://github.com/ccorcos/meteor-subs-cache/blob/master/src/subsCache.coffee#L72

Can you give me a full trace? Iron router may be binding the function elsewhere or something...

[2015-06-27 07:28] BudgieInWA commented on #7
I'm working on it now. It's not completely straight forward because there are onStop (and deprecated onError) callbacks too.

[2015-06-28 16:05] ccorcos commented on #6
You need to do `SubsCache.subscribe 'posts', orgId, limit, starredOnly, collectionId` to pass the parameters to your publication...

[2015-06-28 16:18] ccorcos commented on #7
I'm not sure why there shouldn't be just one line?

I don't think we need to call every onReady function that has ever been passed to subscribe -- only the most recent one that was passed this one time...

[2015-06-30 01:42] rclai opened #9 "When cacheLimit is hit, the data gets wiped away"
[code]

If I change the `cacheLimit` to 1, the page will show the data and then the data will disappear because when I go to the list route, it will subscribe to the list, and find the last recently visited list item and go to it and subscribe to that, and once that happens, cache limit is hit and the data gets wiped for some odd reason.

Workaround right now is to set `cacheLimit` to `-1` and man

[2015-06-30 02:29] ccorcos commented on #9
Hmm. So that seems like the intended functionality with a cacheLimit of 1. That means that the cache can only have one subscription at a time and previous subscriptions will be stopped. Perhaps what you intended was to have two separate caches, one for `list` and the other for `otherStuff`.

[2015-06-30 11:59] rclai commented on #9
Oh I see that makes sense. So the way it's intended to be used is that one `SubsCache` needs to be instantiated per unique subscription?

[2015-06-30 17:23] ccorcos commented on #9
Yeah. Just think of it as a really lightweight and simple caching mechanism. If it can only hold one, then it will boot the previous one. This is actually pretty convenient to be used this way sometimes. But if you want to cache 5 users and 5 posts, it better to have 2 caches of 5 rather than one with 10. Otherwise, you could end up with 10 users and 0 posts being caches...

[2015-06-30 17:23] #9 closed

[2015-06-30 17:31] rclai commented on #9
Okay, thanks.

[2015-07-07 06:12] BudgieInWA opened #10 "Exception in queued task: Error: Can't set timers inside simulations"
I am experiencing the following exception when using SubsCache in conjunction with Iron Router:

[code]

[code]

`http://10.1.1.50:3000/packages/ccorcos_subs-cache.js?6a3225527386ddcfc7167b4226cf4ccde60559c2:156:30` corresponds to `subsCache.coffee:85`.

My Iron Router subscription looks like:

[code]

and the exception happens when the document is updated from within the page (but not if it's upd

[2015-07-08 01:50] #2 closed

[2015-07-08 01:50] ccorcos commented on #3
Can you please submit a meteorpad example? Else I'm closing this issue...

[2015-07-08 01:50] #3 closed

[2015-07-08 01:51] #4 closed

[2015-07-08 01:51] #5 closed

[2015-07-08 01:51] #6 closed

[2015-07-08 01:52] ccorcos commented on #10
Honestly, I don't really know what this is about. I tracked it down here, but its pretty odd if you ask me.

https://github.com/ccorcos/meteor-subs-cache/issues/4

I've be straying away from iron router. Its not exactly simple to look inside and figure out why things are going wrong...

[2015-08-13 04:15] hluz opened #12 "Incompatibility with tmeasday:publish-counts?"
When using subs-cache to manage a subscription that has a Counts.publish, after a subscription is stopped - sub.stop() - and then re-started (re-subscribing again), the published counts stop being pushed to the client via DDP... If it is not stopped and just re-subscribed (for example if it is subscribed within a autorun in a Template onCreate callback due to change on criteria), all works fine.

[2015-08-13 05:19] ccorcos commented on #12
Hmm. this is only on the client so I'm not sure why this is happening...

[2015-08-14 13:09] hluz commented on #12
Yes, true, its clients-side only. But consider:

In a pub set up like:
[code]
this is to be used in a list template, of course, where different search criteria and limit(n) can be specified by the user, an we can show only the first n items but also showing how many items were found. e.g, with ``` {{getPublishedCount 'posts'}} ```

This works fine because every time there is a subscription call, a

[2015-11-29 21:24] trakkif commented on #7
hi, is this going to be fixed?  I've just spent 3-4 hours trying to work out why my code wasn't working, and finally worked out its because using subscache means my default (onReady) callback doesn't ever fire.  Seems this bug has been forgotten?  thanks

[2015-11-29 22:30] ccorcos commented on #7
I see. Bummer man. I don't care to support the deprecated hooks, but if you want to submit a PR to fix the onReady call, then I'll merge it.

You can clone this repo into your /packages directory to develop with it locally.

Sent from my iPhone

[2015-11-30 00:14] BudgieInWA commented on #7
#8 is still pending and fixes this.

@ccorcos I'd love a final review.

@trakkif If you need a working copy ASAP, clone my fork into the `packages` dir and you're off.

[2015-11-30 02:03] #7 closed

[2015-11-30 02:09] ccorcos commented on #7
ok should be good to go

[2016-01-29 07:27] BudgieInWA opened #13 "When subs are combined, the combined sub stops when the first sub is stopped, not the last"
Consider a page with two independent sections (A and B) that both make a subscription with the same arguments.

1. A loads and creates subscription `a`.
1. B loads and creates subscription `b` (which SubsCache combines with `a`).
1. A unloads, stopping `a`.

**Observed**: at this point, the SubsCache subscription is `delayedStop`ed. After the timeout, the real subscription is stopped, clearing the

[2016-01-29 07:58] BudgieInWA commented on #13
Whoops, I didn't see that this had been addressed in #11.

[2016-01-29 18:54] #13 closed

[2016-03-15 18:22] elie222 opened #16 "There is no such publish handler named: undefined"
I just switched over from subsManager, and this is the error message I'm seeing on the server:
`There is no such publish handler named: undefined`

Was working fine before the switch over. Any ideas?

[2016-03-16 22:57] ccorcos commented on #16
This isn't exactly compatible with subs manager
On Tue, Mar 15, 2016 at 11:22 Eliezer <notifications@github.com> wrote:

[2016-03-17 06:54] elie222 commented on #16
The only method I use from subsmanager is subscribe. And in general it all
works well when switching over. But I see that error message on the server
On 17 Mar 2016 00:57, "Chet Corcos" <notifications@github.com> wrote:

[2016-04-18 19:51] jimmiebtlr commented on #10
I'm running into this issue as well, not using iron router.

Seems to me it's likely something to do with latency compensation.

Any ideas that can point me to how to fix this?  It almost seems like it may be Meteor.setTimeout throwing any time isSimulation is true.  Pure speculation at this point though.

[2016-04-18 19:54] jimmiebtlr commented on #10
There is a Meteor.setTimeout used in the project.  I think Meteor tries to be clever and realizes that data  generated in a simulation should probably not be used later in time, to avoid potentially having out of date information.  I think this package doesn't need to worry about that case, maybe use only non-meteor setTimeout instead?

[2016-05-08 13:09] icereed opened #18 "Incompatible with Meteor 1.3 modules"
Hi there,

I am enjoying the subs cache package very much enabling me to speed up my app and reducing server load.

## Problem
However, while updating my app to Meteor 1.3 modules I encountered, that this package has no export declaration in the package.js. So **this package is not usable as a module**.

## Potential solution
Just add following statement to package.js:
`api.export("SubsCache");`

[2016-05-08 13:13] icereed commented on #18
Created pull request #19 .

[2016-05-09 22:36] #18 closed

[2016-06-07 04:28] ElvishJerricco opened #20 "`allReady` does not work."
With subs-cache 0.1.0 and meteor 1.2 or 1.3, it appears that the `allReady` reactive variable is not successfully set when subscriptions become ready.

<img width="1440" alt="screen shot 2016-06-07 at 12 25 45 am" src="https://cloud.githubusercontent.com/assets/1365692/15845967/72f0f9a2-2c46-11e6-830c-e8cd73cba98a.png">

[2016-06-20 05:50] convexset commented on #10
Any updates on this?

[2016-06-22 04:10] jimmiebtlr commented on #10
Went ahead and and published to

https://atmospherejs.com/jimmiebtlr/subs-cache

[2016-06-22 17:39] ccorcos commented on #10
thanks @jimmiebtlr!

[2016-06-22 17:39] #10 closed

[2016-09-01 06:58] BudgieInWA opened #22 "Subscriptions are stopped prematurely when the cache overflows"
When the cache overflows SubsCache doesn't only stop subscriptions that have been held back, but may stop subscriptions that have not been stopped at all. It should instead only stop subscriptions that have had `stop` called on them, but have not yet actually been stopped because of the caching.

The current behaviour is surprising and does not conform the the documented behaviour: "`cacheLimit` i

[2016-09-12 10:50] snajjar opened #23 "Exception in queued task: Error: Can't set timers inside simulations"
Hello,

This error occurs when i'm deleting an entity that has been subs-cached. I've seen that it already happened in https://github.com/ccorcos/meteor-subs-cache/issues/4 and https://github.com/ccorcos/meteor-subs-cache/issues/10.

[code]

The entity is beeing deleted as expected, but it appears to still be in the cache and the templates aren't refreshed as expected. I've found no workaround so

[2016-09-17 01:02] gaurav- opened #24 "Reasons for deprecation?"
Hi @ccorcos,

We only recently started using this package, to replace SubsManager that's causing us some problems.  But I just found out about the deprecation notice you added a few days ago. Could you share the reasons – is it because you don't plan to maintain it anymore or are there some serious issues with the approach of taken by this library?

Thanks.

[2016-09-17 01:43] ccorcos commented on #24
Library works. Just I maintained. I haven't used meteor in over a year now.
And I think they way tracker works is a bad idea. I would recommend
Featherjs as an alternative
On Fri, Sep 16, 2016 at 18:02 Gaurav <notifications@github.com> wrote:

[2016-09-17 01:47] ccorcos commented on #24
Unmaintained*

[2016-09-17 03:22] gaurav- commented on #24
Got it. Thanks for the clarification!

[2016-09-17 03:22] #24 closed

[2016-09-17 03:24] gaurav- commented on #24
Just curious, if you have used the other FRP libraries out there and if you found any of them to be a "better version" of Tracker?

[2016-09-17 04:19] ccorcos commented on #24
Flyd is awesome. But I would shy away from using streams -- they're easy to
overuse. Check out the Elm Architecture Tutorial
On Fri, Sep 16, 2016 at 20:24 Gaurav <notifications@github.com> wrote:

[2016-10-23 13:16] afuggini opened #27 "Why is the package deprecated now?"

[2016-10-25 16:57] snajjar commented on #27
+1.

Why? I'm using it because it does provide more ganularity compared to https://github.com/kadirahq/subs-manager

[2016-10-25 17:02] ccorcos commented on #27
Because I keep getting issue tickets and PRs that I literally cannot review anymore. I havent used Meteor in over a year. I suppose I should change that to "NEEDS MAINTAINERS"

[2016-10-25 17:12] snajjar commented on #27
I think this is worth opening a thread on the meteor forums. You are quite a great community member and you provided quality packages, it would be a shame to let it be dropped overtime.

[2016-10-25 18:20] afuggini commented on #27
+1
El El mar, 25 de oct de 2016 a las 14:12, Intox <notifications@github.com>
escribió:

[2016-10-25 18:21] ccorcos commented on #27
That's a fair point... I'll do that.
On Tue, Oct 25, 2016 at 10:12 Intox <notifications@github.com> wrote:

[2016-10-25 18:25] afuggini commented on #27
That'd be cool.
El El mar, 25 de oct de 2016 a las 14:02, Chet Corcos <
notifications@github.com> escribió:

[2016-10-25 19:07] ccorcos commented on #27
https://forums.meteor.com/t/maintainers-needed/30762

[2016-10-25 19:07] #27 closed

[2016-11-19 04:51] paranoico opened #28 "Code conversion to JavaScript"
Hello,

Is there any chance to convert code to JavaScript?

In that case, we can maintain it at my company. We use your component in one of our biggest project, so we will have it up and running for quite long time. Must say that we do not use CoffeScript at all.

Let me know what you think.

And thanks a lot for your amazing job.

[2016-11-19 22:39] ccorcos commented on #28
You are more than welcome to convert it to JS -- shouldnt be too hard.

[2016-11-19 22:52] paranoico commented on #28
Thanks a lot, let me then try to understand it first. Regards.

[2016-11-21 21:01] Fen747 commented on #28
Hi,

I'd too liked to convert this project to javascript, and propose to help maintaining the repo alive.

[2016-11-23 01:54] paranoico commented on #28
Great @Fen747, thanks.

And @ccorcos, I think the best thing is first merge those pending Push Requests. Then I can try to convert it to JS.

What do you think? We have tested some of those PRs and think I can safely merge them.

[2016-11-23 03:18] ccorcos commented on #28
What we need to do is: (1) figure out how to give you guys publishing access to publish to the meteor packaging system and (2) I'll give you guys access to the repo so you can merge them yourselves :)

[2016-11-23 15:52] paranoico commented on #28
Precisely,  yes of course we need access, we can do the merge. And everything else.
You can set up us as collaborators to the project or some other permissions as team members.
But I am afraid that only you can do it.

[2016-11-25 23:36] ccorcos commented on #28
@paranoico added you as a collaborator

[2016-11-26 16:27] paranoico commented on #28
Thanks @ccorcos, will start to check it.

[2016-11-28 18:42] paranoico commented on #28
Hello @ccorcos, I have done 2 PRs and now it is necessary to update Meteor Package, ¿can I do it also? ¿Or how do we proceed?

[2016-11-28 20:59] ccorcos commented on #28
I need to figure out how to add permissions for you to publish -- I
couldn't find it on meteor.com. Any ideas?
On Mon, Nov 28, 2016 at 10:42 paranoico <notifications@github.com> wrote:

[2016-11-29 19:57] paranoico commented on #28
@ccorcos I think this could help:
http://stackoverflow.com/questions/29267399/how-to-add-collaborator-for-meteor-package-in-atmosphere

[2016-11-29 20:43] ccorcos commented on #28
[code]

all yours :)

[2016-12-05 22:55] thumptech opened #29 "expireAfter not being set from constructor"
When doing this:
[code]

The result is
`SubsCache {expireAfter: 5, cacheLimit: -1, cache: Object, allReady: ReactiveVar}`

And this needs to be done to set expireAfter to -1:
`subs.expireAfter = -1;`

I think this is incorrect behaviour.

[2016-12-05 22:58] thumptech commented on #29
Please close, typo, silly

[2016-12-05 22:58] #29 closed

[2016-12-12 06:29] ramijarrar commented on #28
Hi @paranoica - as heavy users of this package, we are very happy to hear there is a new maintainer.

Would it be possible to remove the warning in the README now (so as to avoid discouraging other users)?

[2016-12-12 06:36] elie222 opened #30 "Does this work with react native meteor?"
We're looking to add a subs manager for React native. Would this work as an npm package out the box for React native?

[2016-12-12 18:45] paranoico commented on #30
We currently have not tested it in React Native. We have not used it yet.

Sorry, but cannot give more information, but if you test it, please let me know.

[2016-12-12 18:48] paranoico commented on #28
Hello @ramijarrar , it is done. Thanks.

[2016-12-15 19:24] dnish opened #31 "Mongo is not defined"
After adding the package to my project, the server crashes with the following error:

[code]

[2016-12-15 19:50] paranoico commented on #31
@dnish Confirming this is a bug on new version, working on fixing.

[2016-12-15 23:45] paranoico commented on #31
@dnish After trying to catch error, it seems to be related to Coffeescript, and nobody here could fix it.
So I have removed examples folder (am going to create a sample in a separate project outside from subs-cache) and new version on Atmosphere is now working correctly.
At least, we are sure that the error only raised on Atmosphere version, not when using local package code.

Please check it out,

[2016-12-15 23:45] #31 closed

[2016-12-15 23:46] paranoico commented on #23
Fixed since version 0.2.1. Thanks for reporting.

[2016-12-15 23:46] #23 closed

[2016-12-15 23:48] paranoico commented on #16
Closing since it seems not directly related as @ccorcos pointed out.

[2016-12-15 23:48] #16 closed

[2016-12-15 23:54] paranoico commented on #20
Hello @ElvishJerricco , I would like to know if this issue is related to setTimers problem.

I am retaking subs-cache maintenance and would like to know if it is still an issue.

[2016-12-16 00:48] ElvishJerricco commented on #20
Sorry, this project has mostly left my brain. I don't think I can help much.

[2016-12-16 20:27] paranoico commented on #20
@ElvishJerricco Thanks for your prompt answer, I am closing the issue for now.

Best Regards.

[2016-12-21 05:48] scottburch commented on #28
Maybe atmosphere is not the best way to maintain it since Meteor is moving away from their packages and toward NPMs.  I needed this to use this with connections so I ran the code through decaffeinate made the quick change and added to my common-lib npm module for my projects.  So, proof it is possible.

[2017-01-04 14:52] ramezrafla opened #32 "Overloading Meteor.subscribe"
An idea that was inspired by redis-oplog, why not have a parameter that allows us to keep using Meteor.subscribe and it gets redirected to meteor-subs-cache. This would make it BW compatible and easy to bolt on for all users. Maybe have SubsCache.origSubscribe to refer to the old one if needed.

[2017-01-11 06:27] ramezrafla commented on #28
@paranoico , we went ahead and converted to vanilla JS. Interested in a PR?

[2017-01-20 13:44] Fen747 commented on #28
@ramezrafla Could you please release the code in your own repo ? It doesn't seems that this one is going to revive anytime soon, and I'm interested in having a full JS version of this package. Thanks you.

[2017-01-20 17:23] paranoico commented on #28
Hello @ramezrafla , I think I cannot add maintainers, I am not the owner.

But please make a Push Request.

And sorry, we have not had time enough to follow project in weeks. I just merged several PRs a month ago and released new package to Atmosphere. @Fen747 is not informed properly.

[2017-01-20 17:26] paranoico commented on #28
@ramezrafla How about if I create a new branch for your PR? In order to test conversion properly before uploading to Atmosphere.

[2017-01-20 17:30] ramezrafla commented on #28
@paranoico, please do. Thanks!

[2017-01-20 17:55] paranoico commented on #28
@ramezrafla Ready, new branch is named JS-Migration, there I am going to merge your PR.

[2017-01-22 17:49] tcastelli commented on #28
Good to know it is now maintained again :). I am also willing to help if the code gets converted to JS too.

On a side note, I was using the fork from @ElvishJerricco since it was more updated, and now that I see this is becoming the main one, I have noticed there are some commits in the fork that are not present in this repo.
Maybe it would help to copy those changes in this repo too? (If it's no

[2017-01-23 00:29] ramezrafla commented on #28
Thanks! I'll start preparing the package to PR. Give me a couple of days, as right now, we extracted the main js out of the package and directly embedded in our app.

[2017-01-26 22:05] muninn9 opened #33 "sub.onReady() not working"
This is not working, nothing shows up in the console when the onReady callback should be called. Suggestions?

[code]

[2017-01-26 22:37] paranoico commented on #33
Hello @muninn9 ,

Not sure about your code, but the standard callback works:
[code]

Or, something like this (we use it in a React container), where Videos is the JS collection:

[code]

[2017-01-26 22:40] paranoico commented on #28
Thanks @tcastelli ,
We are going to check ElvisJerrico changes, In matter of fact we already saw that he had several additional changes but wanted to saty with Ccorcos version since there was a specific functionality we needed.

[2017-01-26 22:41] paranoico commented on #28
Thanks to you @ramezrafla ,
Take your time, I think it will be in a week or two when we can make our first try to translate to JS.

[2017-01-26 22:43] paranoico commented on #32
Good @ramezrafla , may be we can program it after translating to JS. At least, for now we do not know how to change CoffeeScript  code, we do not know yet the language.

What do you think?

[2017-01-26 23:20] ramezrafla commented on #28
Thanks @paranoico, we already translated to JS and using in production. Between today and tomorrow we should have PR ready

[2017-01-27 02:12] ramezrafla commented on #33
or just pass the function as your last argument.

[2017-01-27 15:42] #33 closed

[2017-01-30 15:25] afruth commented on #28
@ramezrafla what's the status for the code conversion? :)

[2017-01-30 15:38] ramezrafla commented on #28
Really sorry --- too much work :)
It's already converted, just need to test it as a package (right now we embedded directly into our app).

Today, pinky promise!

[2017-01-31 09:44] ramezrafla commented on #28
PR #34 submitted - please look at the notes. Testing of package.js needed (sorry, no time and I didn't want to keep holding others back)

[2017-03-01 15:09] ixdi opened #35 "An advise is need in the Readme about subscriptions started inside a Tracker"
We discovered that subscriptions started inside an autorun are stopped when Tracker is stopped.

This is not what we expected and was causing errors in our app.

Is it possible to add a param with the subscription to indicate if it has to be stopped or not? Or something similar...
Now autoruns are stopped when templates are destroyed, so maybe there's no need for this convenience.

Thanks

[2017-03-02 09:19] nicooprat opened #36 "Update subscription parameters"
Hi there!

Has anyone figured out a way to change a subscription parameters after a first init? Like working with pagination. For now, I'm overriding the subscription object in each autorun, causing templates to keep reference to previous object (that's how I understand the issue though) and not updating when the new subscription is created.

My workaround is to create a reactiveVar 'ready' that I

[2017-03-02 09:34] nicooprat commented on #20
Has anyone found a solution? Looks like I'm having the same issue.

[2017-04-13 18:56] paranoico commented on #20
Reopening until I confirm there is no issue with new JS version.

[2017-04-14 15:09] satyavh commented on #36
I got the same issue. I tried different 'hacks' but in the end I unfortunately had to drop subs-cache for subscriptions that change params.

[2017-05-09 18:12] lmachens commented on #28
The atmoshphere package is not updated yet right?
https://atmospherejs.com/ccorcos/subs-cache

It published the old coffeescript package.

[2017-05-11 14:28] paranoico commented on #28
@lmachens that is correct, atmosphere package has not been updated yet, since we have not finished testing of new JS code. I do not want to break the working Coffeescript until we are sure the new one works well. Until we test it on field operations and have no issues I will be willing to update atmosphere.

Have you tested JS code already on your application?

[2017-05-11 14:54] lmachens commented on #28
No, but I had problems to set up this package.
Readme.md:
`meteor add ccorcos:subs-cache`

`subsCache = new SubsCache(5, 10);`

This will not work until you update the atmosphere package.
The constructor in the coffeescript packae is different:
`subsCache = new SubsCache({ expireAfter: 5, cacheLimit:10});`

[2017-05-11 16:25] paranoico commented on #28
You are right, there are differences, Readme was updated when master branch was updated.

We are trying to release new version on 20 mobile devices to test it on field on 2 weeks.

[2017-07-06 17:59] gregory opened #38 "No way this can work"
The version in this package is [0.9.0](https://github.com/ccorcos/meteor-subs-cache/commit/7fd20c2debe4d84d0e7e0f2863cc8e99557cdf51#diff-49fb32b6d8276ecd1268e47c0339d55cR4) but has never been published to atmospher

![screenshot 2017-07-06 10 57 33](https://user-images.githubusercontent.com/167488/27925542-fc9dfffe-6239-11e7-98c0-dc6d2b0b53b3.png)

Also, there package is trying to load [src/subsCa

[2017-07-06 18:11] paranoico commented on #38
@gregory You are correct, atmosphere package is NOT updated, since component has been changed from Coffeescript to Javascript and we have not finished testing all functionality we use yet.

Will review pending testing as soon as as can, thanks for the PR.

[2017-08-23 14:07] jankapunkt commented on #38
@paranoico do you really have the time to maintain this repo? Seems not to be that big but this issue still remains!?

[2017-08-23 14:20] paranoico commented on #38
@jankapunkt Sorry, I have not time yet.

Coffescript version is still working correctly and published. We cannot release JS version yet to our mobile devices. There is a problem regarding offline data gathering and then restarting device, but do not know if we have to modify this component yet.

[2017-08-23 14:22] jankapunkt commented on #38
Ok, seems understandable. Is there a reason, why you can't add the tests to this repo? Maybe we can provide some support in testing and find the error.

[2017-08-23 14:29] paranoico commented on #38
Well, again our time in my side is the main reason. Currently we use also ground-db and cordova-plugin-kiosk among other plugins.
So I am pretty sure the error is gound and efforts here are in that directions, I will try to add some tests as u suggest next week.
If you can provide those PR via, it will be very welcome also.

[2017-08-25 09:16] jankapunkt commented on #38
I can provide some tests but I only some unit tests in mocha. Would that be an improvement?

[2017-08-25 13:18] jankapunkt commented on #38
I already wrote some unit tests with mocha and found some inconsistencies in a helper function. I will open a PR once I have completed tests for the all functions in the api.

Maybe I find some more things to fix which may also help you with your mobile issue

[2017-08-25 16:59] jankapunkt commented on #38
please see #39

[2017-08-26 17:43] paranoico commented on #38
Both PRs are merged now, my team and I will start testing next week on my side.

Sorry about my month and a half delay.

[2017-08-29 03:25] paranoico commented on #38
@jankapunkt  The file **src/SubsCache.js** does not exists in current master branch, it seems you changed its name on your PR to src/**s**ubsCache.js back again. Am I right?

[2017-08-29 08:45] jankapunkt commented on #38
Yes I changed the Filename to way, how it has been referenced in the package.js File.

[2017-08-29 08:48] jankapunkt commented on #38
I can fix that and open a new PR, please let me know, which naming you do prefer.

[2017-08-29 09:23] jankapunkt commented on #38
Please see #40

[2017-08-29 15:11] paranoico commented on #38
Good @jankapunkt , thanks, and I agree file should be named **S**ubsCache since that was the initial name @ramezrafla used on his first JS version commit months ago.

[2017-08-29 15:19] #38 closed

[2017-08-31 11:18] jankapunkt commented on #36
It is because it creates the hash (for looking up the sub in the cache) by calling

[code]
Where `withoutCallbacks` removes callback arguments from args (which are all args of your subscription call), but not any other.
This causes pattern like Template level subscriptions or filter tables to fail. The lookup can't find the "updated" subscription anymore since it generates a differnt hash.

@ccorc

[2017-08-31 17:11] jankapunkt commented on #36
Please see PR #41

[2017-10-12 17:11] nicooprat commented on #20
Any fix planned? Thanks!

[2017-10-12 17:12] nicooprat opened #42 "Atmosphere update?"
Looks like the package hasn't been published on Atmosphere for a while, is it on purpose?

https://atmospherejs.com/ccorcos/subs-cache

[2017-10-17 15:44] paranoico commented on #42
Yes, you are right, it is on purpose, you can see #28.
Now we are almost ready to update it in following days.

[2017-10-20 15:24] paranoico commented on #36
Fix merged, thanks for testing @nicooprat

[2017-10-20 15:24] #36 closed

[2017-10-21 19:39] nicooprat commented on #20
When checking on https://github.com/ccorcos/meteor-subs-cache/pull/41 and tried with latest code, `allReady.get()` was working as expected.

[2017-10-23 17:20] paranoico commented on #20
Thanks a lot @nicooprat

[2017-10-27 02:20] paranoico commented on #28
Today Atmosphere package has been updated with last version. Thanks all for your help and patience.

[2017-10-27 02:20] #28 closed

[2017-10-27 02:21] paranoico commented on #42
Today Atmosphere package has been updated with last version.

[2017-10-27 02:21] #42 closed

[2017-10-27 19:09] paranoico commented on #22
Based on recent revision, in first place when cache overflow, Meteor application restarts, breaking all connections and sometimes reverting app to an old version.
It seems to Worker Service is a much better approach than cache.
So I do not think it could be possible to not stop subscriptions before of application crash.

[2017-10-27 19:09] #22 closed

[2017-11-04 22:13] nicooprat commented on #20
To be more precise, it's now reactive, but sometimes `allReady.get()` still returns false although all subscriptions seem ready. I can't remember where I got this bit of code, but this workaround works (proving that `allReady.get()` is actually wrong):

[code]

`Subs` being the var of my (only) SubsCache object of course.

[2017-11-05 03:20] paranoico commented on #20
Hello,
So the issue still persist, right?

[2017-11-05 09:03] nicooprat commented on #20
Yes, looks like... It happens sometimes, can't get a reproducible test case for now :/

[2017-11-16 16:20] lmachens opened #44 "Multiple subscription with same name"
Hey,
I have a problem with the recent version of this package.
The problem is, that subs-cache updates the subscription if a paramter changes (except first param).
If I have two subscriptions on the same page, the last called subsribe will update the first one.

[code]

In the older versions of this package, multiple cached subscriptions were possible.
I think it is related to the hash calculation

[2017-11-23 22:06] paranoico commented on #44
PR merged, thanks @lmachens

[2017-11-23 22:06] #44 closed

[2018-03-05 02:59] janat08 opened #47 "Using with fast render within flow-router breaks"
I tried several ways to pass subsmanager.subscribe to this.register, and it broke.

[code]
Passing invoking subs.subscribe within this.register also broke.
this is the error message on client with fast render reporting same issue on server:
[code]

[2018-03-07 18:43] paranoico commented on #47
@janat08 It seems we missed some code for fast render when converted to Javascript, there was code merged from @BudgieInWA in 2015 that take cares of it as you can see en #8 or directly in the file in [Coffee June 2015 Version](https://github.com/BudgieInWA/meteor-subs-cache/blob/7fe886145f572cec618926cb24a54eb29c6a0d46/src/subsCache.coffee#L84)

Specifically the following lines was not converted

[2018-03-07 19:13] ramezrafla commented on #47
We only use SubsCache client-side, so didn't need that.

[2018-03-07 19:23] paranoico commented on #47
OK thanks.

@janat08 We have a pending change for next week to update Atmosphere, if you can wait a bit more, we can make the change for you. Or feel free to post a PR if you can contribute with this detail.

Other option is that you use the older version of the component in Coffee Script.

[2018-03-09 01:32] janat08 commented on #47
I suppose there's no integration with flow-router's fast render so that it doesn't fast-render stuff which is already cached?

[2018-03-12 18:38] paranoico commented on #47
Well, as far as I can see, the missing code previously posted is meant to work only on Server side and in case of SSR fast render.

The other option is [Kadira Fast-render](https://github.com/kadirahq/fast-render), in such a case and quoting:

Those are different options, and both work on Server side only.

So the answer to your question is NO and I understand that both options do not work on clie

[2018-03-13 01:33] janat08 commented on #47
Did you actually publish the update, because I can't see new package version?

[2018-03-13 15:49] paranoico commented on #47
Not yet, it could probably be delayed to next week.

[2018-03-27 14:27] janat08 commented on #47
stilll not deployed?

[2018-04-11 01:38] gazhayes commented on #47
FYI if anyone needs this for their project it's been resolved here: https://github.com/Blockrazor/subscache-C4

[2018-04-11 01:50] gazhayes commented on #47
We have forked this repository [here](https://github.com/Blockrazor/subscache-C4) and used the C4 contribution protocol to allow the repository to be self-managing and also facilitate extremely fast merges of pull requests.

The changes referenced here have been merged and the updated package is available on atmosphere as blockrazor:subscache-c4.

[2018-04-11 15:02] paranoico commented on #47
Very good and thanks a lot @gazhayes

To us it is better to Not update immediately atmosphere since we use this component on our biggest projects. So we rather prefer to use source code some weeks before updating.

[2018-04-11 15:10] gazhayes commented on #47
No problem, similar situation for us just from a different angle (we like to live dangerously!). Whenever we make improvements on our repo I'll send a courtesy pull request back here to your repo in case you also want to integrate it :)

[2018-04-11 15:10] paranoico commented on #20
We have seen different behavior than can be originated from this component and seems to be related to Meteor update, mainly the differences come when upgrading from Meteor 1.5.x to 1.6.x.

Here we have no more information on how to reproduce int this, we are currently still trying to find the specific code woth problem.

[2018-04-11 15:13] paranoico commented on #47
Thanks again, very kind of you.

We currently are struggling to migrate our main apps to react-native, so we are facing some other problems regarding our offline implementation.

My best regards.

[2018-04-11 15:14] janat08 commented on #20
https://github.com/Blockrazor/blockrazor/pull/1052 reproduces this on route [/currency/:slug].

[2018-04-20 19:19] #47 closed

[2018-04-23 21:44] paranoico commented on #35
So it could be fixed after JS conversion?

[2018-04-24 00:14] paranoico commented on #47
Atmosphere package upgraded minutes ago.

[2018-05-15 11:36] sakulstra opened #54 "code formatting"
eslint might be overkill, but would you accept a pr applying at least prettier styles to the package?

https://github.com/ccorcos/meteor-subs-cache/blob/master/src/SubsCache.js#L2

[2018-05-15 22:33] sakulstra opened #56 "remove underscore dependency"
this is by far not the last package which relies on underscore, but it's definitely not really necessary here :mag:

I'll create a pr after the formatting one is merged ;)

[2018-05-16 18:18] #54 closed

[2018-05-17 17:34] #56 closed

[2018-05-24 21:36] santiagopuentep opened #59 "Subscriptions should always be stopped if the cacheLimit is reached"
The subscriptions should be stopped when the cacheLimit is reached even if the expireAfter has not expired yet.

Without this it the cacheLimit is useless when the expireAfter is set to something other than -1 because the subscriptions keep pilling up indefinitely.

[2018-05-24 21:38] santiagopuentep opened #60 "Subscription timer not stopped when calling clearAll()"
`clearAll()` does not clear the expiration timeout of the subscriptions.

[2018-05-30 18:06] paranoico commented on #60
Are you using the last version on atmosphere or the master branch?

[2018-05-30 18:07] paranoico commented on #59
Are you using the last version on atmosphere or the master branch?

[2018-07-04 17:30] santiagopuentep commented on #60
I was using the version on atmosphere.

[2018-07-04 17:30] santiagopuentep commented on #59
I was using the version on atmosphere.

[2018-08-14 19:47] jankapunkt commented on #60
Created a PR, see #62 - I hope it fixes this issue.

[2018-08-15 23:17] paranoico commented on #60
Atmosphere package has been updated also.

[2018-08-15 23:18] paranoico commented on #60
Closing for now, if problem persist please reopen.

[2018-08-15 23:18] #60 closed

[2018-08-16 06:28] jankapunkt commented on #59
Can you both please describe in detail how you expect this to be working correctly?

-> Which subs are exactly stopped?
-> Which subs can remain running?

Should the behavior to determine which sub to stop rather be a stack-like or queue-like behavior  or something else and should users be able to configure this behavior?

With some information on that I can implemented a fix on this including som

[2018-08-16 17:18] paranoico commented on #59
We currently only use expireAfter value set to -1, so I can only elaborate the idea as far as I understand it:

- I think the subs that should be stopped must the the oldest ones. Not sure if there is some kind of timestamp on each subscription, but otherwise it could be some random manner to chose the subs to be stopped.

What do you think?

[2018-08-16 17:28] jankapunkt commented on #59
I think there is currently the option to override the expiration on a subscription level so I think there needs to be a way to determine the candidate by oldest timestamp. If there are more than one sub than use the sub that has been added first. To determine the order of being added, each sub should receive an incrementing value like `index`.

I think randomness is something that willead to unpre

[2018-08-16 17:40] paranoico commented on #59
@jankapunkt I agree.

@santiagopuentep Santiago, what do you think?

[2018-08-17 06:02] jankapunkt commented on #59
One more question that arises:

Should users be able to configure, whether to

a) stop the oldest pub on limit reach

[2018-08-17 22:35] paranoico commented on #59
Good points you have there, regarding each one:

a) If user can chose to not stop oldest subs on limit reach, then to me it is the same like setting expireAfter = -1, isn't it?

b) The only way app can decide when to stop sub is calling the stop method, otherwise how can the app make an automatic decision?

c) If sub is just rejected then it should behaviour like a normal Meteor subscription, to m

[2018-08-18 16:30] jankapunkt commented on #59
Okay so I checked the code again and the current behavior is currently

So summarizing the debate, the code and @santiagopuentep issue I would go with the following:

- keep this as the default behavior (backward compatible)
- add a switch, that allows to define what happens on limit reach (configurable)
- keep this feature as lean as possible (maintainable)

I will propose a PR very soon so pleas

[2018-08-18 17:11] jankapunkt commented on #59
Okay please ignore my last comment and please test first my last PR #63

I found that the measure to determine which sub to remove did not work when `count` is greater than zero. I used `startedAt` to find the "oldest" sub by date. Tests have been added.

@santiagopuentep please check if this is fixing your issue.

[2018-08-18 19:02] #59 closed

[2018-08-24 09:32] thebarty commented on #20
Same problem over here.

Subscribing like
[code]

**Problem: globalSubscriptionManager.ready() acts unreliable and after clicking a few links in the ui returns "false"**

[2018-08-24 17:29] paranoico commented on #20
Do you have more information on how to reproduce it? It would be helpful.

[2018-08-27 06:26] thebarty opened #65 "Parameter NOT working correctly"
Hi guys,

there is a bug with handling constructor-parameters.

 if I initiate via
[code]
then those parameters are not parsed correctly in the instance.

This works better in https://atmospherejs.com/blockrazor/subscache-c4 1.

[2018-08-27 06:28] thebarty commented on #20
Hi guys,

just letting you know: I switched to using the original https://github.com/kadirahq/subs-manager which works much more stable for me.

There seems to be something wrong in the codebase.

The bug exists in this package and also in https://atmospherejs.com/blockrazor/subscache-c4.

[2018-08-27 16:32] paranoico commented on #20
Hello @thebarty,

Sorry but what globalSubscriptionManager do you mean?

[2018-12-17 11:34] thebarty commented on #65
Its been a while, BUT I remember that back then this package just did NOT consider the parameters. I think I debugged back then and saw that the values did NOT change - even though I passed them in the options as mentioned above.

[2018-12-17 11:35] thebarty commented on #65
Did you try it yourself? What states a
[code]

[2019-01-07 09:00] lamhieu-vk opened #66 "Q: why get ready from a tracker?"
https://github.com/ccorcos/meteor-subs-cache/blob/5507f27205079a84a5484b0ff5bb571fb1d2eb4a/src/SubsCache.js#L246

it's will return a tracker, not susbcription called inside right?

[2019-02-20 23:26] paranoico commented on #20
Closing again for now, after PR from @ulion

Thank you.

[2019-02-20 23:26] #20 closed

[2019-02-21 07:26] jankapunkt commented on #35
is this fixed by #67 ?

[2019-02-21 07:29] jankapunkt opened #68 "Add CI service"
The tests are already running and I added a .travis file a while ago. It would be great to include a CI service like Travis in order to get automatic builds on new pull requests so it is clear to everyone if a new PR passes the tests or not.

[2020-09-24 21:45] toledoroy opened #69 "Subscription Override"
Hi,

After replacing some of the Meteor subscriptions to cached subscriptions some of them seem to have been overriding each other. (when one subscribes the former disappears)

I'm not sure when it happens or how to recreate this... or how to avoid it.

When making multiple subscriptions to the same point (I.e. 'post, 1', 'post, 2',[...]) how does the cache keep track and determine which subscript

[2020-09-29 19:12] paranoico commented on #69
Hi,

It should work the same way Meteor does, depending on the parameters, meteor on client decides if it is a new subscription and store it on cache.

We currently use this package on our biggest app and have not seen problems like that.

Are you changing the collection locally our how do you know it is overridden?

[2020-09-30 06:46] jankapunkt commented on #69
@toledoroy

Can you please show the `post` publication? Usually it is best practice to have one publication for one use case. How should `post` behave in your opinion, if the same client subscribes to the same publication with different parameters?

[2020-09-30 15:00] toledoroy commented on #69
@paranoico  I have quite an unusual case of subsequent subscriptions happening in my app. I guess that would usually not be a problem under common usage.
By "being overwritten" I mean that a previous subscription (that's displayed on the same page) disappears.
I see the package uses a hash made of a JSON stringify of all the parameters do identify subscriptions, which seems like it should prevent

[2020-09-30 18:03] paranoico commented on #69
@toledoroy How do you determine the subs is overridden? Are you pushing changes using Meteor methods? Or are you changing data locally?

[2021-10-11 03:50] dpatte opened #70 "end of subscription rerenders current page"
First, I want to say that I love this package and use it all my projects. Combined with PublishComposite, it has made a significant improvement to the performance of my projects.

But I noticed today that whenever any subs-cache subscription expires, the current template gets rerendered.

In my case, after a template is rendered, I do a scroll to top, and call an unveil function. I noticed after v

[2021-10-11 05:50] jankapunkt commented on #70
Hi @dpatte can you provide a very short code example? You can always subscribe within `Tracker.nonReactive` in order to avoid recomputations, based on subscription handle reactivity. However, I don't know if that's the case in your code.

[2021-10-11 14:59] dpatte commented on #70
Hi. I''ll think of how I might produce a code sample.

But I did try this in my client setup code

subscriptionCache = new SubsCache(Meteor.isProduction? 5:1, -1); // 5 or 1 minutes, no limit of caches
Tracker.nonreactive(subscriptionCache.subscribe);

and still have the issue.

In my original issue, I go to page A (which sets up its own subscription), then go to page B (which also sets up its own

[2021-10-11 15:29] dpatte commented on #70
I understand that in my scenario, the expiry of subscription A changes the content of minimongo triggering the rerender, but it doesn't change what data will be displayed on page B (because what I need for page B, is fully specified in subscription B).

From what I understand, this will always be the case, and a rerender caused from the expiry of an older subscription, in itself, should never caus

[2021-11-13 05:26] dpatte commented on #70
i have gotten around the issue by changing what i do in onRendered. When any older subscache expires, subscache still causes a full rerender the complete current page (though in my case it never really needs to), but my logic to scrollToTop is now handled elsewhere, which gets around the issue.

[2022-06-14 19:51] cormip opened #71 "onReady callback causes infinite loop in template.autorun"
Sample code below with onReady callback goes into an infinite AUTORUN loop:
[code]
The code below does not:
[code]

[2022-06-14 20:05] jankapunkt commented on #71
Onready makes the autorun useless so just call it outside.

[2022-06-14 20:36] cormip commented on #71
If I don't use autorun, then the subscription doesn't rerun when a parameter the subscription depends on gets updated. In the example above:
[code]

[2022-06-15 05:47] jankapunkt commented on #71
Okay I overlooked this. In such case, would it work if you omit assigning the subscription value to a variable that is declared inside autorun? Furthermore, I would also try to play with `Tracker.nonReactive` for those vars that are not supposed to affect the current autorun computation:

[code]

Does that help? I am just asking this much to see, if the issue is rather a Blaze/Tracker issue or if

[2022-06-16 15:18] cormip commented on #71
Tried your code sample. It still goes into an infinite loop. Not assigning the variable also wouldn't be ideal, because further manipulation of that cached subscription would then not be possible.

[2022-08-03 14:58] evolross opened #72 "subsCache.ready() doesn't always work"
I started using this package in my production app and I'm noticing the following doesn't always work:

`subsCache.ready()` - tells you if all subscriptions in the cache are ready

It will regularly not return true.  However, I created my own global helper that loops and checks each individual cached subscription using the `sub.ready()` call and it works great:

[code]
I'll try to dig into the code

[2022-09-27 22:36] evolross opened #73 "Does subscription caching break pagination?"
Was just wondering if you use a subscription cache for paging through documents using a `skip`, `limit`, and `sort`, for example, as you page through the documents, those documents will get retained and build up in minimongo on the client.

You'll then need to update your client code to paginate through them correctly. Where with just using regular pub/sub you _only_ have the current page of docum